--- # Exercise: Roles - Tasks Within a Role/Conditional Roles
- hosts: linuxacademy
  become: yes
  gather_facts: yes
  roles:
    - { role: webservers_redhat, when: "ansible_os_family == 'RedHat'", tags: ['redhat'] }
    - { role: webservers_debian, when: "ansible_os_family == 'Debian'", tags: ['debian'] }