<User>
    <Username> {{ username }} </Username>
    <Password> {{ userpassword }} </Password>
    <Fullname> {{ fullname }} </Fullname>
</User>

<Systeminformation>
    <Distributionname> {{ ansible_os_family }} </Distributionname>
</Systeminformation>